<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
<div style="position: relative;
background-repeat: no-repeat;
background-position: center;
background-size: cover;">
  <app-app-menu class="no-print"></app-app-menu>
  <router-outlet></router-outlet>
  <div class="img imgLeft no-print" style="background-image: url(../assets/webImages/apps.61250.13514594485563766.6468277d-2f98-46f3-a552-e1179a69fa6b.jpg);"></div>
  <div class="img imgRight no-print" style="background-image: url(../assets/webImages/thumb-1920-1075602.jpg);"></div>
</div>
