<div class="container">
  <div class="row mt-1">
    <p-table [value]="driverRank" styleClass="p-datatable-gridlines" responsiveLayout="scroll">
      <ng-template pTemplate="caption">
          Clasificación General
      </ng-template>
      <ng-template pTemplate="header">
          <tr>
            <th class="center">Posición</th>
            <th>Piloto</th>
            <th class="center" style="cursor: pointer;" *ngFor="let race of eventResults" (click)="showRaceRankModal(race.numEvent)">Evento {{race.numEvent}}</th>
            <th class="center">Puntos</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-driverRank let-i="rowIndex">
          <tr>
            <td class="center">{{i+1}}º</td>
            <td>{{driverRank.driver.name}}</td>
            <td class="center" *ngFor="let points of driverRank.racePoints">{{points}}</td>
            <td class="center">{{driverRank.totalPoints}}</td>
          </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog *ngIf="selectedRaceRank" class="center" header="Evento {{selectedRaceRank.numEvent}}" [(visible)]="displayRaceRank" [modal]="true" [style]="{width: '40vw'}"
    [draggable]="false" [resizable]="false">
    <p-table [value]="selectedRaceRank.results" styleClass="p-datatable-gridlines" responsiveLayout="scroll">
      <ng-template class="center" pTemplate="caption">
        <div style="display: inline-block;">{{selectedRaceRank.track.name}} - {{selectedRaceRank.cathegory}}</div>
        <a  href="https://yisharjzamora.github.io/quemaosChampionship/{{selectedRaceRank.settings}}" target="_blank">
          <i class="pi pi-info-circle" style="margin-left: 20px; cursor: pointer;"></i>
        </a>
      </ng-template>
      <ng-template pTemplate="header">
          <tr>
            <th class="center">Posición</th>
            <th>Piloto</th>
            <th>Coche</th>
            <th class="center">Puntos</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-result let-i="rowIndex">
          <tr>
            <td class="center">{{i+1}}º</td>
            <td>{{result.driverName}}</td>
            <td>{{result.car.name}} - {{result.car.year}}</td>
            <td class="center">{{result.points}}</td>
          </tr>
      </ng-template>
    </p-table>
</p-dialog>
