<div style="position: relative; height: 100%;">
  <div class="only-print dateCertificate">
    Ajustes para Evento {{getCurrentNumEvent()}}
    <br>
    FECHA Y HORA DE IMPRESIÓN: {{getDate()}}
  </div>
  <div class="container" *ngIf="eventData">
    <div class="row mt-1">
      <div class="col-xl-6 col-12">
        <div class="row">
          <p-card header="{{eventData.track.name}}" styleClass="p-card-shadow" class="track">
            <ng-template pTemplate="header">
                <img class="trackImg" alt="Card" src="assets/tracks/{{eventData.track.img}}">
            </ng-template>
            <div class="container">
              <div class="row mobileOnly">
                <div class="col mt-2">
                  <p-panel header="Hora">
                    {{getHourFormatted()}}
                  </p-panel>
                </div>
                <div class="col mt-2">
                  <p-panel header="Multiplicador">
                    {{eventData.time.multiplier}}
                  </p-panel>
                </div>
              </div>
              <div class="row mobileOnly">
                <div class="col mt-2">
                  <p-panel header="Lluvia">
                    {{eventData.conditions.rain}}
                  </p-panel>
                </div>
                <div class="col mt-2">
                  <p-panel header="Nubosidad">
                    {{eventData.conditions.cloudLevel}}
                  </p-panel>
                </div>
                <div class="col mt-2">
                  <p-panel header="Temperatura">
                    {{eventData.conditions.ambientTemp}}
                  </p-panel>
                </div>
                <div class="col mt-2">
                  <p-panel header="Aleatoriedad">
                    {{eventData.conditions.weatherRandomness}}
                  </p-panel>
                </div>
              </div>
              <div class="row mobileHide">
                <p-table [value]="rowConditions" styleClass="p-datatable-gridlines">
                  <ng-template pTemplate="caption">
                      Horario del evento
                  </ng-template>
                  <ng-template pTemplate="header">
                      <tr>
                          <th>Hora</th>
                          <th>Multiplicador de tiempo</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let condition>
                      <tr>
                          <td>{{getHourFormatted()}}</td>
                          <td>x{{eventData.time.multiplier}}</td>
                      </tr>
                  </ng-template>
                </p-table>
              </div>
              <div class="row mt-3 mobileHide">
                <p-table [value]="rowConditions" styleClass="p-datatable-gridlines">
                  <ng-template pTemplate="caption">
                      Condiciones del evento
                  </ng-template>
                  <ng-template pTemplate="header">
                      <tr>
                          <th>Lluvia</th>
                          <th>Nubosidad</th>
                          <th>Temperatura</th>
                          <th>Aleatoriedad</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let condition>
                      <tr>
                          <td>{{eventData.conditions.rain}}</td>
                          <td>{{eventData.conditions.cloudLevel}}</td>
                          <td>{{eventData.conditions.ambientTemp}}</td>
                          <td>{{eventData.conditions.weatherRandomness}}</td>
                      </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
            <ng-template pTemplate="footer">
              <div class="container">
                <div class="row">
                  <div class="col-4 center">
                    Práctica: 60min
                  </div>
                  <div class="col-4 center">
                    Clasificación: 10min
                  </div>
                  <div class="col-4 center">
                    Carrera: 45min
                  </div>
                </div>
              </div>
            </ng-template>
          </p-card>
        </div>
        <div class="row mt-3">
        </div>
      </div>
      <div class="col-xl-6 col-12 mb-4">
        <div class="row">
          <p-panel header="{{eventData.cathegory}}">
            <p-card *ngIf="!isSpecialEvent()" header="{{eventData.cathegory === 'Monomarca' || eventData.cathegory === 'GT3 Porsche Cup' ? eventData.car.name : 'Prohibido coches de DLCs'}}" styleClass="p-card-shadow"  class="car">
              <ng-template pTemplate="header">
                <img *ngIf="eventData.cathegory === 'Monomarca' || eventData.cathegory === 'GT3 Porsche Cup'" alt="Card" src="assets/cars/{{eventData.car.img}}">

                <p-carousel *ngIf="eventData.cathegory === 'GT3'" [value]="getGT3Cars()" orientation="vertical" [style]="{'max-width':'400px'}" verticalViewPortHeight="360px" [numVisible]="1" [numScroll]="1" [circular]='true'>
                  <ng-template pTemplate="header">
                      <h5>GT3 Permitidos</h5>
                  </ng-template>
                  <ng-template let-car pTemplate="item">
                      <div class="product-item">
                          <div class="product-item-content">
                              <div class="p-mb-3">
                                  <img src="../../assets/cars/{{car.img}}" [alt]="car.name" class="product-image" />
                              </div>
                              <div>
                                  <h4 class="p-mb-1">{{car.name}}</h4>
                                  <h6 class="p-mt-0 p-mb-3">{{car.year}}</h6>
                              </div>
                          </div>
                      </div>
                  </ng-template>
                </p-carousel>
              </ng-template>
              <ng-template *ngIf="eventData.cathegory === 'Monomarca' || eventData.cathegory === 'GT3 Porsche Cup'" pTemplate="footer">
                {{eventData.car.year}}
              </ng-template>
            </p-card>
            <div *ngIf="isSpecialEvent()" class="container">
              <div class="row" style="justify-content: center;">
                <div class="col-4 mb-3" *ngFor="let car of eventData.specialEventCars">
                  <p-card header="{{car.name}}" styleClass="p-card-shadow" class="car">
                    <ng-template pTemplate="header">
                        <img alt="Card" src="assets/cars/{{car.img}}">
                    </ng-template>
                    <ng-template pTemplate="footer">
                      {{car.year}}
                    </ng-template>
                  </p-card>
                </div>
              </div>
            </div>
          </p-panel>
        </div>
      </div>
    </div>
  </div>

  <button style="bottom: 0; right: 0; position: fixed; margin: 0 40px 20px 0;" pButton pRipple type="button" label="Print PDF" class="p-button-outlined p-button-rounded p-button-danger no-print" (click)="printPDF()"></button>
</div>
