<div class="container">
  <div class="row mt-1">
    <p-panel header="Qué hacemos" class="weDo"  [toggleable]="true">
      <img class="logo pt-3" src="../../assets/webImages/angry-bonfire-stroke-by-Vexels.svg"/>
      <p class="pt-2">Grupo de pilotos de ACC que optamos por un desafío diferente.</p>
      <p>Concretamos una fecha para cada evento en base a la mayoría de inscritos en el campeonato, pero no se ofrecen más datos sobre la carrera.</p>
      <p>Circuito, categoría, coche y condiciones ambientales se desvelan en la fecha acordada, a la hora de comienzo del evento.</p>
      <p>Bienvenido a los Quemaos Randomizaos.</p>
    </p-panel>
  </div>
  <div class="row mt-1">
    <p-panel header="Comienzo del próximo Evento" class="weDo"  [toggleable]="true">
      <p class="pt-3">Fecha</p>
      <p>-</p>
      <p class="pt-2">Hora</p>
      <p >-</p>
    </p-panel>
  </div>
  <div class="row mt-1">
    <p-panel header="Reglamento y dinámicas" [collapsed]="true"  [toggleable]="true">
      <p-divider align="left" type="dashed">
        <b>1º</b>
      </p-divider>
      <p class="marginLeft">Se prioriza la deportividad por encima de todo, dentro y fuera de pista</p>
      <p class="marginLeft">De haber conflictos con un piloto, se le comunicará en forma de avisos. Tres o más de estos avisos pueden suponer la descalificación del campeonato</p>

      <p-divider align="left" type="dashed">
        <b>2º</b>
      </p-divider>
      <p class="marginLeft">En el campeonato sólo está contemplado el contenido base y el DLC "Intercontinental GT Pack"</p>

      <p-divider align="left" type="dashed">
        <b>3º</b>
      </p-divider>
      <p class="marginLeft">La duración del campeonato son 15 carreras (una por cada circuito incluido)</p>
      <p class="marginLeft">Cada evento pertenece a una de las siguientes 4 categorías:</p>
      <p class="marginLeft">-- GT3: Parrilla completa de coches GT3 para seleccionar (mínimo 5 eventos de este tipo)</p>
      <p class="marginLeft">-- GP Especial: Parrilla temática limitada de GT3 según el circuito (4 eventos de este tipo)</p>
      <p class="marginLeft">-- Monomarca: Un único coche GT3 prestablecido para todos los pilotos (máximo 3 eventos de este tipo)</p>
      <p class="marginLeft">-- GT3 Porsche Cup: Porsche Cup prestablecido para todos los pilotos (máximo 3 eventos de este tipo)</p>

      <p-divider align="left" type="dashed">
        <b>4º</b>
      </p-divider>
      <p class="marginLeft">Cada evento dura 2h seguidas (fin de semana virtual): Práctica de 60min (Viernes), Clasificación de 15min (Sábado), Carrera de 45min (Domingo)</p>
      <p class="marginLeft">Tanto la práctica como la clasificación tendrán los mismos ajustes que la carrera, salvo por el 'Multiplicador de tiempo' a 'x0'</p>
      <p class="marginLeft">La asistencia a los 60min de práctica es opcional, siendo descalificado todo aquel que no llegue a pista antes del fin de la clasificación</p>

      <p-divider align="left" type="dashed">
        <b>5º</b>
      </p-divider>
      <p class="marginLeft">El sistema de puntos es simple: Si terminas la carrera, puntúas.</p>
      <p class="marginLeft mb-3">El reparto de puntos desde la primera posición son: 23, 19, 16, 14, 12, 10, 8, 7, 6, 5, 4, 3, 2, 1 respectivamente.</p>
    </p-panel>
  </div>
</div>>
